*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: auto;
    max-width: 1024px;
}
.cards2{
    flex-direction: column;
}

.card{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}
.card-text{
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.card-price{
    font-style: bold;
    font-size: 1.5em;
}
.card-button{
    background-color: #f13c6e;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 30px;
    width: 120px;
    margin-top: 1em;
}
.form-body{
    width: 50%;
    height: auto;
    background-color: #ffccda;
    color: #ffffff;
    padding: 33px 39px;
    position: absolute;
    display: none;
    z-index: 6;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    border-radius: 15px;
}
.forms-elements{
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 30px;
}
input{
    background-color: #f13c6e;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
}
::placeholder{
    color: #ffffff;

}
.submit-btn, .close-btn{
    width: 100px;
    height: 40px;
    background-color: #f13c6e;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    outline: none;
}
.cards2{
    margin-top: 5em;
}


@media screen and (max-width: 650px){
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: 85%;
    }
    .form-body{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}